/src/HospitalManagementSystem.AspireHost/bin
/src/HospitalManagementSystem.AspireHost/obj
/src/HospitalManagementSystem.Core/bin
/src/HospitalManagementSystem.Core/obj
/src/HospitalManagementSystem.Infrastructure/bin
/src/HospitalManagementSystem.Infrastructure/obj
/src/HospitalManagementSystem.ServiceDefaults/bin
/src/HospitalManagementSystem.ServiceDefaults/obj
/src/HospitalManagementSystem.UseCases/bin
/src/HospitalManagementSystem.UseCases/obj
/src/HospitalManagementSystem.Web/bin
/src/HospitalManagementSystem.Web/obj
/tests/HospitalManagementSystem.FunctionalTests/bin
/tests/HospitalManagementSystem.FunctionalTests/obj
/tests/HospitalManagementSystem.IntegrationTests/bin
/tests/HospitalManagementSystem.IntegrationTests/obj
/tests/HospitalManagementSystem.UnitTests/bin
/tests/HospitalManagementSystem.UnitTests/obj
/.vs
/.artifacts
